.App {
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: 40% 60%;
}

.left-side{
  border: 1px solid black;
  height: fit-content;
}

.inside-left{
  border: 1px solid black;
  cursor: pointer;
}

.right-side{
  
  
}

.inside-right{
  display: flex;
  justify-content: center;
  gap: 5%;
}

